*{
    margin: 0px, auto; 
    width: 900px;
}
#top{
    display: inline-block;
}
h1{
    color:coral;
    text-align: center;
     
}
p.salmon{
    color: salmon;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin: 0px;
    padding-top: 10px;
    width: 90px; 

}
.counter{
    border:1px solid rgb(219, 173, 57);
    width:100px;
    margin:0px;
    padding: 10px 0px 10px 30px;
    
    display: inline-block;
    vertical-align: top;

}
#form{
    width: 900px;
    margin: 10px 0px 10px 0px;
    display: inline-block;
   
}
.forms{
    width: 215px;
    background-color:rgba(253, 227, 227, 0.596);
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    margin:10px 0px 10px 0px;
    
}
.forms p,h2{
    width: 210px;
    margin: 0px;
}
form, input{
    width: 80px;
    text-align: center;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0px;
}
.activities{
    color: goldenrod;
    height: 250px;
    width: 880px;
    border: 1px solid black;
    background-color: rgba(255, 248, 220, 0.404);
    overflow: scroll;

}